
@{
    ViewBag.Title = "Admin";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>

<h2 style="color:white">Admin</h2>
<div class="first">
    <div class="jumbotron">
        <table>
            <tr>
                <td><p>Id</p></td>
                <td><p>Email</p></td>
                <td><p>Password </p></td>
                <td><p>Age</p></td>
                <td>
            </tr>
            @foreach (var b in ViewBag.UserInfo)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Email</p></td>
                    <td><p> @b.Password </p></td>
                    <td><p>@b.Age</p></td>
                    <td>
                        @using (Html.BeginForm("Edit_User", "Admin", FormMethod.Post))
                        {
                            <p>
                                <button name="action" value="Edit" class="form-control">Edit</button>
                                <button name="action" value="Delete" class="form-control"> Delete</button>
                                <input type="hidden" name="Id" value="@b.Id" />
                            </p>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
