<!DOCTYPE html>
<html lang="en-us">
<head>
    <style>
        body {
            background: url(/src/coffee.png) no-repeat fixed center center;
            background-size: cover;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ToDoList", "Main", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Task", "ViewList", "List")</li>
                    <li>@Html.ActionLink("Add Task", "List", "List")</li>
                    <li>@Html.ActionLink("Registration", "Register", "Account")</li>
                    <li>@Html.ActionLink("Sign in", "Login", "Account")</li>
                    <li>@Html.ActionLink("Exit", "SignOut", "Account")</li>
                    <li>@Html.ActionLink("Admin","Admin","Admin")</li>
                    <li><a style="color:aqua; padding-left:200px">@ViewBag.UserLogin</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="data">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p style="color:whitesmoke">&copy; @DateTime.Now – Programing by ASP.NET</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
