@model WebApplication2.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>

<div class="first">
    <div class="jumbotron">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>Register</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Name" required />
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input id="Password" name="Password" type="password" placeholder="Password" class="form-control" required />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
 
                        <input name="someid" type="number" id="Age" class="form-control" placeholder="Age" onkeypress="return isNumberKey(event)" min="1" max="110" required />
                        <script>
                            document.getElementById('Age').onkeypress = function (e) {
                                return !(/[А-Яа-яA-Za-z]/.test(String.fromCharCode(e.charCode)));
                            }
                        </script>
                        <script>
                            document.getElementById('Age').oninput = function () {
                                if (this.value.length > 3) this.value = this.value.substr(0, 3); 
                            }
                        </script>
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registration" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>